@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    font-size: 16px;
    --game-board-size: 70%;
    --marker-size: 50%;
    --player-avatar-size: 150px;
    --white-text: #f5f5f5;
    --blue: #60a5fa;
    --shadow-color: #a3a3a3;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.middle-container {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    place-items: center center;
}

.middle-container > .status {
    font-size: 2rem;
}

#game-board {
    height: var(--game-board-size);
    width: var(--game-board-size);
    background-color: black;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 3px;
}

#game-board > div {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board > div:hover {
    background-color: #eff6ff;
}

#game-board img {
    height: var(--marker-size);
    width: var(--marker-size);
}

.middle-container > div:last-child > button {
    background-color: var(--blue);
    color: var(--white-text);
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px var(--shadow-color);
}

.left-container, 
.right-container {
    place-self: center center;
    width: var(--player-avatar-size);
    display: grid;
    gap: 15px;
}

.left-container > img, 
.right-container > img {
    height: var(--player-avatar-size);
    width: var(--player-avatar-size);
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 4px var(--shadow-color);
}

img.turn {
    background-color: #bfdbfe;
}

.change-name {
    display: grid;
    gap: 10px;
}

.change-name > input, 
.change-name > button {
    font-weight: 500;
    padding: 0.3rem;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 4px var(--shadow-color);
}

.change-name > input {
    background-color: #e5e5e5;
    text-align: center;
}

.change-name > input:focus {
    background-color: white;
    box-shadow: none;
}

.change-name > button {
    background-color: var(--blue);
    color: var(--white-text);
}